
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset ends here */

body {
	background-color: #ddd;
}

.box-border {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.float-right {
	float: right;
}
/*---------------------------------------------*/
.c-menu{
	position: fixed;
	z-index: 200;
	background-color: #32323A;
	transition: transform 0.3s;
}

.c-menu__items{
	list-style: none;
	margin: 0;
	padding: 0;
}

.c-menu__close{
	color: #fff;
	background-color: #32323A;
	font-size: 14px;
	border: none;
	box-shadow: none;
	border-radius: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.c-menu__focus{
	outline: none;
}

body.has-active-menu{
	overflow: hidden;
}

.c-mask{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 0;
	height: 0;
	background-color: #000;
	opacity: 0;
	transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active{
	width: 100%;
	height: 100%;
	opacity: 0.7;
	transition: opacity 0.3s;
}

.c-menu--slide-left{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	top: 0;
	left: 0;
	transform: translateX(-100%);
}

@media all and (min-width: 320px){
	.c-menu--slide-left{
		width: 250px;
		transform: translateX(-250px);
	}
}

.c-menu--slide-left.is-active{
	transform: translateX(0);
}

.c-menu--slide-left .c-menu__item{
	display: block;
	padding-left: 25px;
	padding-top: 18px;
	padding-bottom: 18px;
	border-top: solid 1px #3C3C43;
	border-bottom: solid 1px #3C3C43;
	font-family: "Helvetica Neue";
	color: #aeb2b7;
	font-size: 12px;
}

.c-menu__product{
	display: block;
	font-family: "Helvetica Neue";
	color: #aeb2b7;
	font-size: 12px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.c-menu__product:first-child{
	padding-top: 18px;
	padding-bottom: 10px;
}

.c-menu__product:last-child{
	padding-top: 10px;
	padding-bottom: 18px;
}

.c-menu__product__check{
	margin-right: 10px;
}

.c-menu--slide-left .c-menu__item:hover{
	background-color: #202025;
	transition: background-color 0.7s;
}

.c-menu--slide-left .c-menu__item:first-child{
	border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child{
	border-bottom: none;
}

.c-menu--slide-left .c-menu__close{
	display: block;
	padding: 12px 24px;
	width: 100%;
}
/*----------------------------------------------*/
.header {
	width: 100%;
	height: 54px;
	position: fixed;
	top: 0;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding-top: 10px; 
    padding-left: 8px;
    background-color: white;
}

.header__logo {
	display: inline-block;
	width: 10%;
}

.header__logo img {
	height: 36px;
	width: 40px;
	display: block;
	margin: auto;
}

.header__list-icon {
	display: inline-block;
	height: 36px;
	width: 36px;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
}

.header__list-icon i {
	margin-top: 10px
}

.fa-bars{
	color: #767676;
	-webkit-transition: -webkit-transform .5s ease-in-out;
  	transition: transform .5s ease-in-out;
}

.fa-bars:hover{
	-webkit-transform: rotate(180deg);
  	transform: rotate(180deg);
}

.header__text {
	display: inline-block;
	vertical-align: top;
	color: #767676;
	font-family: "Helvetica Neue";
	width: calc(100% - 10% - 60px);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.header__stats {
	display: inline-block;
	vertical-align: top;
	color: #767676;
	font-family: "Helvetica Neue";
	width: calc(100% - 10% - 60px);
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	padding-left: 40px;
	padding-right: 20px;
}

.header__text:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.header__add-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
}
.header__text a {
	float: right;
}

.modalDialog {
	position: fixed;
	font-family: 'Helvetica Neue',Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	/*z-index: 99999;*/
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog .inner {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	cursor: pointer;
}

.close:hover { 
	background: #fa8564; 
}
.modal-close {
	opacity: 0;
	pointer-events: none;
}
.modal-open {
	opacity: 1;
	pointer-events: auto;	
}
.md__heading {
	font-size: large;
    padding: 15px 0;
    font-weight: 700;
}

.md__labels {
	display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    color: #767676;
    font-family: 'Helvetica Neue','Open Sans',sans-serif;
    font-size: 13px;
}
.md__warnings {
	display: none;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
    font-size: 13px;
}
.md__plusminus {
	margin-left: 182px;
	display: inline-block;
}

.inner i {
	color: #767676;
}
.md__input {
	border: 1px solid #e2e2e4;
	color: #c2c2c2;
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: #fff;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
    margin-bottom: 10px;
}
.md__input:focus {
	border-color: #1FB5AD;
    /*color: #fff;*/
}

.md__input_warning {
	border-color: #a94442;
}


.md__subcat {
	max-height: 150px;
	margin-bottom: 20px;
    /*overflow: scroll;*/
}

.md__btn {
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    outline: none;
}

.md__btn_save {
    background-color: #95b75d;
    border-color: #95b75d;
    color: #FFFFFF;
}

.md__btn_cancel {
    background-color: #fa8564;
    border-color: #fa8564;
    color: #FFFFFF;
}

.main-section {
	margin-top: 60px;
	width: 100%;
	/*height: 100%;*/
	height: 600px;
	/*border: 1px solid ;*/

}
.order-queue{
	width: 69%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 4px;

}


.del-orders{
	width: 30%;
	height: 100%;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #fff;
	border-radius: 4px;

}

.do__heading {
	width:100%;
	border-color: #eff2f7;
    font-size: 13px;
    font-weight: 400;
    background: #fafafa;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 4px; 
}

.do__body {
	padding: 15px;
}

.do__table {
	width: 100%;
	border-collapse: collapse;
}
.do__table thead, tbody, tr, th, td {
	display: block;
}


.do__table thead tr {
    width: 100%;
}
.do__table tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.do__table tbody {
    max-height: 485px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.do__table-cell_dot {
	width: 25%; 
    float: left;
}
.do__table-head {
	color: #767676;
	text-align: left;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    vertical-align: bottom;
    text-align: center;
    font-size: 13px;
    font-family: "Helvetica Neue";
	font-weight: bold;
	letter-spacing: 1px;
}

.do__table-data {
	color: #767676;
	text-align: left;
	vertical-align: bottom;
    border-top: 1px solid #ddd;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    font-family: "Helvetica Neue";
}

.fa-clock-o:hover{
	color: #FCB322;
	cursor: pointer;
}

.fa-check-circle-o:hover{
	color: #A9D86E;
	cursor: pointer;
}

.fa-times:hover{
	color: #FF6C60;
	cursor: pointer;
}
.do__table-cell_id {
	float: left;
	width: 5%;
}
.do__table-cell_name {
	float: left;
	width: 15%;
}
.do__table-cell_order {
	float: left;
	width: 15%;
}
.do__table-cell_description {
	float: left;
	width: 30%;
}
.do__table-cell_table {
	float: left;
	width: 5%;
}
.do__table-cell_quantity {
	float: left;
	width: 10%;
}
.do__table-cell_actions {
	float: left;
	width: 20%;
}

.order-queue .fa {
	padding: 0 5px;
}

.do__row:hover{
	background-color: #F1F2F7;
}
.do__row_in-progress {
	background-color: #dff0d8;
}

.block {
	display: block;
}